.movies .movie {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 70px;
  font-weight: 300px;
  padding: 30px;
  border-radius: 10px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 6px 16px -6px rgba(0, 0, 0, 0.25);
}

.movies movie > a {
  display: gird;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
}

.movie img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.25);
}

.movies .movie__title,
.movies .movie__year {
  margin: 0;
  font-weight: 300;
}
.movies .movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.movies .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movies .movie__genres > li,
.movies .movie__year {
  margin-right: 10px;
  font-size: 14px;
}
